.app {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  font-size: var(--kbq-typography-text-normal-font-size);
  line-height: var(--kbq-typography-text-normal-line-height);
  letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
  font-weight: var(--kbq-typography-text-normal-font-weight);
  font-family: var(--kbq-typography-text-normal-font-family);
  text-transform: var(--kbq-typography-text-normal-text-transform);
  font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--kbq-background-bg);
}

.kbq-button {
  padding: 6px 12px;
  color: var(--kbq-foreground-on-contrast);
  background-color: var(--kbq-background-contrast);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 150ms var(--ease-in-out-quad);
  font-size: var(--kbq-typography-text-normal-medium-font-size);
  line-height: var(--kbq-typography-text-normal-medium-line-height);
  letter-spacing: var(--kbq-typography-text-normal-medium-letter-spacing);
  font-weight: var(--kbq-typography-text-medium-font-weight);
  font-family: var(--kbq-typography-text-normal-medium-font-family);
  text-transform: var(--kbq-typography-text-normal-medium-text-transform);
  font-feature-settings: var(--kbq-typography-text-normal-medium-font-feature-settings);
}

.kbq-button:hover {
  background-color: var(--kbq-states-background-contrast-hover);
}

.kbq-button:active {
  background-color: var(--kbq-states-background-contrast-active);
  transform: scale(0.97);
}

.kbq-button:focus-visible {
  outline: 2px solid var(--kbq-states-line-focus);
  outline-offset: 2px;
}


